- name: Install OpenVPN package
  package:
    name: openvpn
    state: present
  notify:
    - Enable and start OpenVPN service

- name: "Create {{ INDIGOVR_USER }} user"
  user:
    name: "{{ INDIGOVR_USER }}"
    state: present
    create_home: no

- name: Enable IP forwarding
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    sysctl_set: yes
  when:
    - ansible_virtualization_type != "docker"
    - INDIGOVR_NODE_TYPE != "standalone"

- name: Remove default route IndigoVR route
  shell: "ip r del {{ INDIGOVR_SUBNET }}/16 via {{ ansible_default_ipv4.address }}"
  register: route_result
  changed_when: route_result.rc == 0
  failed_when: route_result.rc != 0 and route_result.rc != 2
  when:
    - INDIGOVR_NODE_TYPE != "standalone"
  notify:
    - Enable and start OpenVPN service

- name: Create certs directory
  file:
    path: /etc/openvpn/certs
    state: directory
    mode: 0750
    owner: root
    group: "{{ INDIGOVR_USER }}"

- name: Copy OpenVPN configuration
  template:
    src: "{{ INDIGOVR_NODE_TYPE }}.conf.j2"
    dest: "/etc/openvpn/{{ INDIGOVR_NODE_TYPE }}.conf"
    owner: root
    group: root
    mode: 0600
  notify:
    - Enable and start OpenVPN service
