#
# OpenVPN - centralpoint VPN config
#

# --- OpenVPN specs
mode server
persist-key
persist-tun
tls-server
user {{ INDIGOVR_USER }}
group {{ INDIGOVR_USER }}
dev tun
topology p2p
proto udp
port 1194
comp-lzo

# --- IP addresses for VPN
ifconfig 192.168.255.1 255.255.255.0
server 192.168.255.0 255.255.255.0
ifconfig-pool-persist ipp.txt

# --- Client specs
max-clients 250
keepalive 5 10
client-to-client
client-config-dir /etc/openvpn/ccd

# --- Certificates
ca /etc/openvpn/certs/ca.crt
cert /etc/openvpn/certs/{{ INDIGOVR_CERT_NAME }}.crt
key /etc/openvpn/certs/{{ INDIGOVR_CERT_NAME }}.key
dh /etc/openvpn/certs/dh2048.pem
crl-verify /etc/openvpn/certs/crl.pem

# --- LOG files
log-append /var/log/openvpn
{% if ansible_distribution == 'CentOS' %}
status /var/run/openvpn-server/vpn.status 10
{% else %}
status /var/run/openvpn/vpn.status 10
{% endif %}

# --- IPv4 routing
route 192.168.1.0 255.255.255.0
route 10.4.2.0 255.255.255.0
route 10.0.1.0 255.255.255.0

push "route-gateway 192.168.255.1"
push "route 192.168.0.0 255.255.0.0 vpn_gateway"
