#
# OpenVPN - centralpoint VPN config
#

# --- OpenVPN specs
mode server
persist-key
persist-tun
tls-server
user {{ INDIGOVR_USER }}
group {{ INDIGOVR_USER }}
dev tun
topology p2p
proto udp
port 1194
comp-lzo
{% if INDIGOVR_MTU %}
mssfix {{ INDIGOVR_MTU }}
fragment {{ INDIGOVR_MTU }}
{% endif %}

# --- IP addresses for VPN
server {{ INDIGOVR_VPN_PREFIX }}.0 255.255.255.0
ifconfig-pool-persist ipp.txt

# --- Client specs
max-clients 250
keepalive 5 10
client-to-client
client-config-dir /etc/openvpn/ccd

# --- Certificates
ca {{ INDIGOVR_CERT_DIR }}/ca.crt
cert {{ INDIGOVR_CERT_DIR }}/{{ INDIGOVR_CERT_NAME }}.crt
key {{ INDIGOVR_CERT_DIR }}/{{ INDIGOVR_CERT_NAME }}.key
dh {{ INDIGOVR_CERT_DIR }}/dh2048.pem
crl-verify {{ INDIGOVR_CERT_DIR }}/crl.pem

# --- LOG files
log-append /var/log/openvpn
{% if ansible_distribution == 'CentOS' %}
status /var/run/openvpn-server/vpn.status 10
{% else %}
status /var/run/openvpn/vpn.status 10
{% endif %}

# --- IPv4 routing
route {{ INDIGOVR_SUBNET }} 255.255.0.0 {{ INDIGOVR_VPN_PREFIX }}.2

push "route-gateway {{ INDIGOVR_VPN_PREFIX }}.1"
push "route {{ INDIGOVR_SUBNET }} 255.255.0.0 vpn_gateway"
