client
dev tun
proto udp
remote {{ INDIGOVR_CENTRALPOINT_IP }} 1194
pull
nobind
persist-key
persist-tun
comp-lzo
verb 3
mute 20
ca {{ INDIGOVR_CERT_DIR }}/ca.crt
cert {{ INDIGOVR_CERT_DIR }}/{{ INDIGOVR_CERT_NAME }}.crt
key {{ INDIGOVR_CERT_DIR }}/{{ INDIGOVR_CERT_NAME }}.key
